<p id="notice"><%= notice %></p>

<h2>Detalle de la playlist</h2>
<p>
  <strong>Nombre:</strong>
  <%= @playlist.name %>
</p>

<p>
  <strong>Creado por:</strong>
  <%= @playlist.user.name %>
</p>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>


<br>
<br>
<h2>Agregar una canción a esta playlist</h2>

<%= form_with(model: [@playlist, @song], local: true) do |form| %>
  <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<br>

<h2>Lista de canciones</h2>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Canción</th>
      <th>Artista</th>
      <th></th>
    </tr>  
  </thead>
  <tbody>
    <% @songs.each do |song| %>
    <tr>
      <td><%= song.name %></td>
      <td> <%= song.artist %> </td>
      <td><%= link_to 'Eliminar', playlist_song_path(@playlist.id, song.id), method: :delete, data: { confirm: 'Seguro?' } %></td>
    </tr>  
  <% end %>
  </tbody>
</table>


